{% extends "base.html" %}
{% block content %}
<h1>Temp Sign In Records</h1>
<table>
<tr><th>ID</th><th>Temp ID</th><th>Name</th><th>Company</th><th>Sign In Time</th><th>Purpose</th><th>Issued By</th><th>Status</th></tr>
{% for row in rows %}
<tr>
<td>{{ row['id'] }}</td>
<td>{{ row['temp_id'] }}</td>
<td>{{ row['full_name'] }}</td>
<td>{{ row['company_name'] }}</td>
<td>{{ row['sign_in_time'] }}</td>
<td>{{ row['purpose'] }}</td>
<td>{{ row['issued_by'] }}</td>
<td><span class="pill signedin">{{ row['status'] }}</span></td>
</tr>
{% endfor %}
</table>
<div class="button-row"><a class="btn secondary" href="{{ url_for('visitor_admin.index') }}">Back</a></div>
{% endblock %}
